 
  .experience__content p {
    margin-bottom: 3rem;
    color: var(--color-light);
  }
  
  /* <---------------Media Queries (Medium Devices)-----------------> */
  @media screen and (max-width: 1024px) {
    
    .experience__content p{
      margin-bottom: 1rem;
    }
  }
  /* <---------------Media Queries (Small Devices)-----------------> */
  @media screen and (max-width: 600px) {
      .experience__content{
          text-align: center;
      }
      .experience__content p{
          margin-bottom: 1.3rem;
      }
  }
  
    
  